:root {
  --color1: #f5faff;
  --color2: #28262c;
  --color3: #a8a4af;
  --color4: #91B3FA;
  --color5: #1a0f91;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  color: var(--color5);
  font-family: sans-serif;
  margin: 0 auto;
  background-color: var(--color1);
  padding-block:2rem;
}

main {
  margin-top: 1em;
  padding-inline: 2em;
}
img {
  max-width: 100%;
}
a:hover{
  color: var(--color5);
}
a:active {
  color: var(--color4);
}
.challenge-img {
  aspect-ratio: 1.7;
}
.hero-section {
  display: grid;
  gap:1em;
  place-items: center;
  margin-bottom: 4em;
}

.title-container {
  text-align: center;
  color: var(--color2);
}
.title {
  color: var(--color5);
  text-transform: uppercase;
}
.subtitle{
  color: var(--color5);
}

.description-txt {
  font-size: 1.3em;
  color: var(--color2);
  max-width: 70vw;
  text-align: center;
}

.challenges-section {
  margin-top: 1em;
}
.challengesSection-title{
  text-align: center;
}

.challenges-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 1em;
  max-width: 1400px;
  margin-inline:auto;
}

.challenge {
  background-color: var(--color1);
  border-radius: 1em;
  padding: 1em;
  width: calc(50% - 4em);
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  .img-container{
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
      transition: transform 200ms ease-out;
    }
    img:hover{
      transform: scale(1.1);
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  button {
    position: absolute;
    right: 3em;
    margin-top: -3em;
    border: var(--color4) solid 2px;
    border-radius: 0.5em;
    cursor: pointer;
    padding-inline: 0.5em;
  }
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .logoDecorationBox {
    width: 3.5em;
    height: 10em;
    margin: 0em auto;
  }
  .description-image {
    order: 0;
  }
  .description-container {
    order: 1;
    margin-block: 1em;
  }
  .challenge {
    width: 90%;
  }
}
