:root{
    --color1: rgba(231, 235, 243, 0.979);
    --color2: rgba(31, 56, 107, 0.979);
    --color3: rgba(103, 141, 217, 0.979);
}

/* html{
    background-color: var(--color2);
} */
body{
 margin: 0;
 font-family: sans-serif;
 margin:0 auto;
/*  max-width: 1000px;
 height: 100vh; */
 background-color: white;
}
img{
    max-width: 100%;
    aspect-ratio: 1.7;
}

.row{
    display: flex;
    align-items: center;
}

.container{
    margin-inline: 5em;
    margin-block: 0.5em;
}

.logo{
    color: var(--color2);
    flex-direction: column;
    margin-top: -6.5em;
    margin-bottom: 4em;

    h2{
        text-align: center;
    }
}

.logo:hover{
    cursor: pointer;
    text-decoration: underline;
}
.logoText{
    padding-top: 0.5em;
    background-color: white;
    text-transform: uppercase;
    margin: 0;
}

.logoImg{
    border: solid 2px  var(--color2);
    border-radius: 50%;
}
.logoDecorationBox{
    border: solid 2px var(--color2);
    width: 3.5em;
    height: 7em;
    margin: 0em auto;
}

.descriptionContainer{

    margin-right: 0.5em;
    border-top: var(--color2) solid 2px;
    border-bottom: var(--color2) solid 2px;

    h2{
        color: var(--color2);
    }
    p a{
        color: var(--color2);
    }
}

.challengesSection{
    margin-top: 2em;
    border-top: var(--color2) solid 2px;
    display: flex;

    h2{
        margin-top: -0.7em;
        padding-right: 1em;
        background-color: white;
        color: var(--color2);
    }
}

.challengesContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-top:1em;
}

.challenge{
    border: var(--color2) solid 2px;
    padding: 1em;
    width: 40%;
    position: relative;

    img{
        border: var(--color2) solid 2px;
    }
    h3{
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    /* this was the only way i found to get the button to the end of the container */
    button{
        position: absolute;
        right: 3em;
        margin-top: -3em;
        border: var(--color3) solid 2px;
        cursor: pointer;
        padding-inline: 0.5em;

        a{
            color: var(--color3);
            text-decoration: none;
        }
    }
}

@media (max-width:400px){
    .logo{
        margin-top: -9em;
        margin-bottom: 4em;
    
        h2{
            text-align: center;
        }
    }

    .container{
        margin-inline: 1em;
        margin-block: 0.5em;
    }
    .row{
        flex-direction: column;
    }

    .logoDecorationBox{
        width: 3.5em;
        height: 10em;
        margin: 0em auto;
    }

    .descriptionImage{
        order: 0;
    }
    .descriptionContainer{
        order: 1;
        margin-block: 1em;
    }
    .challenge{
        width: 80%;
    }
}
