:root {
  --color1: #f5faff;
  --color2: #28262c;
  --color3: #a8a4af;
  --color4: #91B3FA;
  --color5: #1a0f91;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  color: var(--color5);
  margin: 0;
  font-family: sans-serif;
  margin: 0 auto;
  background-color: var(--color1);
}

main {
  margin-top: 1em;
}
img {
  max-width: 100%;
}

a:hover{
  color: var(--color5);
}
a:active {
  color: var(--color4);
}
.container {
  padding-inline: 7em;
  padding-block: 0.5em;
}
.challengeImg {
  aspect-ratio: 1.7;
}
.titleContainer {
  text-align: center;
  color: var(--color2);
}
.title {
  color: var(--color5);
  text-transform: uppercase;
}
.subtitle{
  color: var(--color5);
}
.row {
  display: flex;
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.descriptionTxt {
  font-size: 1.3em;
  color: var(--color2);
  max-width: 600px;
}

.challengesSection {
  margin-top: 1em;
}
.challengesSection-title{
  text-align: center;
}

.challengesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 1em;
}

.challenge {
  background-color: var(--color1);
  border-radius: 1em;
  padding: 1em;
  width: 40%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  .imgContainer{
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
      transition: transform 200ms ease-out;
    }
    img:hover{
      transform: scale(1.1);
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  button {
    position: absolute;
    right: 3em;
    margin-top: -3em;
    border: var(--color4) solid 2px;
    border-radius: 0.5em;
    cursor: pointer;
    padding-inline: 0.5em;
  }
}

@media (max-width: 600px) {
  .container {
    margin-inline: 1em;
    margin-block: 0.5em;
    padding-inline: 1em;
    padding-block: 0.5em;
  }
  .row {
    flex-direction: column;
  }
  .logoDecorationBox {
    width: 3.5em;
    height: 10em;
    margin: 0em auto;
  }
  .descriptionImage {
    order: 0;
  }
  .descriptionContainer {
    order: 1;
    margin-block: 1em;
  }
  .challenge {
    width: 80%;
  }
}
