:root {
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
  
    --red: hsl(0, 66%, 54%);
  
    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);

    --input-padding:5px;
    --input-border: 1px solid var(--grey-900);
    --input-border-radius: 3px;
    --active-input-bg-color: var(--green-200);
}

  @font-face {
    font-family: "Karla";
    font-weight: 400, 500;
    src: url('assets/fonts/Karla-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: "Karla";
    font-weight: 400, 500;
    font-style: italic;
    src: url('assets/fonts/Karla-Italic-VariableFont_wght.ttf');
  }

  @layer reset{
    *,
    *::before,
    *::after{
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    figure{
        margin: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    p{
        font-weight: 500;
    }
    img{
        max-width: 100%;
        display: block;
    }
    body{
        background-color: var(--green-200);
        color: var(--grey-900)
    }
  }

  @layer base{
    html{
        font-family: "Karla", sans-serif;
    }
    label{
        font-size: 0.8rem;
    }
    input[type="checkbox"]:checked{
        accent-color: var(--green-600);
    }
    input[type="radio"]{
        appearance: none;
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.5em;
        border: 1.5px solid var(--white);
        outline: 1.5px solid var(--grey-900);
        border-radius: 50%;
    }
    input[type="radio"]:checked{
        background-color: var(--green-600);
        border: 1.5px solid var(--active-input-bg-color);
        outline: 1.5px solid var(--green-600);
    }
    input:active, 
    input:focus, 
    input:hover, 
    textarea:active, 
    textarea:focus,
    textarea:hover{
        outline-color: var(--green-600);
        caret-color: var(--green-600);
    }
    .contact-form{
        background-color: var(--white);
        padding: 1rem;
        border-radius: 10px;
        display: grid;
        gap:15px;

        @media (width > 800px){
            max-width: 600px;
            margin-inline: auto;
        }
    }
    .inputs-container{
        display: grid;
        gap:10px;

        @media (width > 800px){
            display: flex;
            flex-wrap: wrap;
            
            > * {
                width: 100%;
            }
        }
    }
    .w50{
        width: calc(50% - 5px);
    }
    .input-group{
        display: grid;
        gap:5px;
    }
    .input-group>input,
    .input-group>textarea,
    .radio-input{
        padding: var(--input-padding);
        border: var(--input-border);
        border-radius: var(--input-border-radius);
        cursor: pointer;

        >input {
            cursor: pointer;
        }
    }
    .input-group:nth-child(4){
        > div {
            display: flex;
            gap:5px;
            flex-wrap: wrap;
        }
    }

    .input-group.mandatory{
        > label::after{
            margin-left: 5px;
            content: '*';
        }
    }
    .radio-input:has(input[type="radio"]:checked) {
        background-color: var(--active-input-bg-color);
    }
    .checkbox-input{
        cursor: pointer;
        > * {
            cursor: pointer;
        }
    }
    .btn-submit{
        border-radius: var(--input-border-radius);
        border: none;
        background-color: var(--green-600);
        color: white;
        padding-block: 0.5rem;
    }
    .btn-submit:hover{
        background-color: var(--grey-900);
        cursor: pointer;
    }
    .success-card {
        cursor: pointer;
        background-color: var(--grey-900);
        color: var(--white);
        padding: 1rem;
        border-radius: 10px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
    }
    
    .success-card.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
    
    .success-card > p {
        font-size: 0.8rem;
        font-weight: 200;
    }
    .success-card-title{
        display: flex;
        gap:0.5rem;
        margin-bottom: 0.5rem;
    }
    .error{
        color: red;
        font-style: italic;
        font-size: 0.8rem;
    }
  }

  @layer utilities{
    .hidden{
        display: none;
    }
  }