@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
--White: hsl(0, 100%, 100%);
--Grey500: hsl(0, 0%, 63%);
--Grey800: hsl(0, 0%, 27%);
--Black: hsl(0, 0%, 0%);

--content-font-size: clamp(0.8rem, 1.1vw, 1.1rem);
--padding-inline-hero: clamp(2rem, 4vw, 5rem);
}

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body,
    p,
    span,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }    

    img {
        max-width: 100%;
    }
}

@layer base {
    body{
        height: 100dvh;
        font-family: "League Spartan", sans-serif;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);        
        height: 100%;
    }
    .grid-1 {
        padding-inline: var(--padding-inline-hero);
        padding-block: clamp(2rem, 4dvh, 4rem);
        grid-column: span 4 / span 4;
        grid-row: span 3 / span 3;
        overflow: auto;
    }
    .grid-2 {
        grid-column: span 3 / span 3;
        grid-row: span 3 / span 3;
        grid-column-start: 5;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .grid-3 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-row-start: 4;
        background-image: url('images/image-about-dark.jpg');
    }
    .grid-4 {
        grid-column: span 3 / span 3;
        grid-row: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 4;
    }
    .grid-5 {
        grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-column-start: 6;
        grid-row-start: 4;
        background-image: url('images/image-about-light.jpg');
    }
    .hero-container{
        padding-inline: clamp(0.8rem, 5vw, 6rem);
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
    }
    .hero-container .hero-title {
        font-size: clamp(1rem, 3vw, 4rem);
    }
    .call-to-action-btn {
        all:unset;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-weight: 500;
        font-size: clamp(0.8rem, 1.5vw, 1.5rem);
        cursor: pointer;
    }
    .call-to-action-btn:hover{
        color: var(--Grey500);
    }
    .call-to-action-btn:hover svg path {
        fill: var(--Grey500);
    }
    .hero-bg-image {
        background-image: var(--hero-bg-desktop);
    }

    .hero-bg-image,
    .secondary-bg-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .images-buttons-container {
        display: flex;
    }
    .images-buttons-container button {
        all: unset;
        background-color: var(--Black);
        padding: clamp(0.5rem, 1.5vw, 1.8rem);
        cursor: pointer;
    }
    .images-buttons-container button:hover {
        background-color: var(--Grey800);
    }

    .nav-container,
    .links{
        display: flex;
        align-items: start;
        gap: clamp(2rem, 4vw, 4rem);
    }
    .links {
        gap: clamp(1rem, 2vw, 2rem);
    }
    .links a {
        all:unset;
        font-size: var(--content-font-size);
        color: var(--White);
        cursor: pointer;
        position: relative;
        padding-bottom: 0.5rem;
    }
    .links a:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: var(--White);
        height: 2px;
        width: 50%;
        translate: -50%;
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        padding-inline: var(--padding-inline-hero);
        overflow: auto;
    }

    .about .title{
        text-transform: uppercase;
        font-size: clamp(0.9rem, 1.5vw, 2rem);
        letter-spacing: 5px;
    }

    .about .description,
    .hero-description{
        color: var(--Grey500);
        font-size: var(--content-font-size);
        line-height: 1.3;
    }
    .hamburger-icon{
        display: none;
    }

    @media (max-width: 700px){
        :root {
            --content-font-size: 1rem !important;
            --padding-inline-hero: 1rem;
            --padding-block-hero: 2rem;
            --hamburger-height: 15px;            
        }
        .hamburger-icon{
            display: inline-block;
            position: absolute;
            left: 0;
            cursor: pointer;
            background-image: url("images/icon-hamburger.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 20px;
            height: var(--hamburger-height);
            z-index: 100;
        }
        .nav-container.nav-open .hamburger-icon{
            background-image: url("images/icon-close.svg");
        }
        .nav-container{
            position: relative;
            justify-content: center;
        }
        .links {
            position: absolute;
            background-color: var(--White);
            display: flex;
            justify-content: end;
            align-items: center;

            overflow: hidden;
            width: 0;
            padding-inline: 0;

            transition: width 0.3s ease, padding 0.3s ease;
        }
        .links a {
            color: var(--Black);
            padding-bottom: 0;
        }
        .nav-container.nav-open .links {
            width: calc(100% + (var(--padding-inline-hero) * 2));
            padding-inline: 2rem;
            margin-top: calc(-1 * var(--padding-block-hero));
            height: calc(var(--padding-block-hero) * 2 + var(--hamburger-height));
        }
        .hero-bg-image {
            background-image: var(--hero-bg-mobile);
            background-size: cover;
            min-height: 400px;
        }
        .grid-container{
            display: flex;
            flex-direction: column;
            min-height: 100dvh;
        }
        .grid-container > * {
            flex: 1;
            overflow: visible;
        }
        .grid-1{
            padding-inline: var(--padding-inline-hero);
            padding-block: var(--padding-block-hero);
        }
        .grid-2 {
            position: relative;
        }
        .grid-2 .images-buttons-container {
            position: absolute;
            top: -2.5rem;
            right: 0;
        }
        .grid-2 .images-buttons-container button {
            width: 2rem;
            display: flex;
            justify-content: center;
        }
        .hero-container,
        .about {
            padding-inline: 1.5rem;
            padding-block: 2.5rem;
            gap:0.8rem;
        }
        .hero-container .hero-title {
            font-size: 2.8rem;
        }
        .call-to-action-btn{
            margin-top: 1rem;
        }
        .about .title{
            font-size: 1.2rem;
        }
        .secondary-bg-image {
            min-height: 200px;
        }
    }
}