@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root{    
--grayishBlue: hsl(237, 18%, 59%);
--softRed: hsl(345, 95%, 68%);
--white: hsl(0, 0%, 100%);
--darkDesaturatedBlue: hsl(236, 21%, 26%);
--veryDarkBlue: hsl(235, 16%, 14%);
--veryDarkMostlyBlackBlue: hsl(234, 17%, 12%);
--purple: hsl(271, 23%, 18%);

--letter-spacing: 3px;
--border-radius: clamp(5px, 1vw, 15px);
--counterCardDimensions: clamp(100px, 15vw, 200px);
--cardFontSizeModifier: 1.8; /* the size is calculated by dividing the modifier by the --counterCardDimensions */
--counterCardWidth: 100%;
}

@layer reset{
    *,
    *::before,
    *::after{
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    body {
        margin: 0;
    }

    img{
        max-width: 100%;
    }
}

@layer base {
    body {
        font-family: "Red Hat Text", sans-serif;
        font-weight: 500;
        color: var(--white);
        background: no-repeat url("images/bg-stars.svg"), 
        no-repeat linear-gradient(352deg, var(--purple) 0%,
        var(--veryDarkBlue) 70%,
        var(--veryDarkMostlyBlackBlue) 100%);
        background-size:  cover; 
        background-position: center;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main{
        flex: 1;
        padding-top: 3rem;
    }

    .title{
        padding-block: 3rem;        
        text-align: center;
    }

    .title span {
        font-size: clamp(1rem, 5vw, 2rem);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: var(--letter-spacing);
        word-spacing: 3px;
    }

    .counter{
        padding-top: 3rem;
        display: flex;
        gap: 1rem;
        text-align: center;
    }

    .counter-card-description{
        text-transform: uppercase;
        font-weight: 500;
        font-size: clamp(0.6rem, 1.5vw, 1rem);
        color: var(--grayishBlue);
        letter-spacing: var(--letter-spacing);
    } 

    .counter-card{
        width: var(--counterCardDimensions);
        font-size: calc(var(--counterCardDimensions) / var(--cardFontSizeModifier));
        font-weight: bold;
        margin-bottom: 1rem;
        position: relative;
        height: var(--counterCardDimensions); 
        color: var(--softRed);
        background-color: transparent;
    }

    .display_top, .display_bottom {
        overflow: hidden;
        text-align: center;
        width: var(--counterCardWidth);
        height: 50%;
        position: relative;
    }

    .display_top, 
    .overlay_top {
        filter: brightness(0.8);
        background-color: var(--darkDesaturatedBlue);
        line-height: var(--cardFontSizeModifier);
        border-radius: var(--border-radius);

    }

    .display_bottom,
    .overlay_bottom {
        background-color: var(--darkDesaturatedBlue);
        line-height: 0;
        border-radius: var(--border-radius);
        box-shadow: 0px 15px 5px -5px var(--veryDarkMostlyBlackBlue);
    }

    .overlay {
        position: absolute;
        top: 0;
        height: 100%;
        width: var(--counterCardWidth);
    }

    .overlay.flip .overlay_top{
        animation:  flip-top 0.5s ease-in;
    }
    
    .overlay.flip .overlay_bottom{
        animation:  flip-bottom 0.5s ease-in;
    }

    .overlay_top,
    .overlay_bottom{
        position: absolute;
        overflow: hidden;
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .overlay_top {
        top:0;
        transform-origin: bottom;
    }
    .overlay_bottom {
        bottom:0;
        transform-origin: top;
    }

    footer{
        width: 100%;
        min-height: 25dvh;
        background: url("images/pattern-hills.svg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    .socials{
        display: flex;
        gap: 2rem;
    }

    .pinterest img, 
    .facebook img,
    .instagram img{
        width: clamp(15px, 5vw, 25px);    
    }

    @keyframes flip-top {
        0%{
            transform: rotateX(0deg);
        }
        50%, 100%{
            transform: rotateX(-90deg);
        }
    }

    @keyframes flip-bottom {
        0%, 50%{
            transform: rotateX(90deg);
        }
        100%{
            transform: rotateX(0deg);
        }
    }

    .inverted-radius_top {
        mask:
            radial-gradient(circle at bottom left, transparent var(--border-radius), black calc(var(--border-radius) + 1px)),
            radial-gradient(circle at bottom right, transparent var(--border-radius), black calc(var(--border-radius) + 1px));
        mask-composite: intersect;
        -webkit-mask-composite: source-in;
    }
    .inverted-radius_bottom {
        mask:
            radial-gradient(circle at top left, transparent var(--border-radius), black calc(var(--border-radius) + 1px)),
            radial-gradient(circle at top right, transparent var(--border-radius), black calc(var(--border-radius) + 1px));
        mask-composite: intersect;
        -webkit-mask-composite: source-in;
    }
}