@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
--Purple100 : hsl(276, 100%, 95%);
--Purple300 : hsl(276, 100%, 81%);
--Purple600: hsl(276, 55%, 52%);
--Gray500: hsl(270, 7%, 64%);
--Gray300: hsl(206, 6%, 79%);
--Purple950: hsl(271, 36%, 24%);

/* Gradients */
--Pink500: hsl(293, 100%, 63%);
--Purple500: hsl(264, 100%, 61%);
--bg-gradient: linear-gradient(191deg,var(--Pink500) 0%, var(--Purple500) 69%);
/* Secondary */
--White: hsl(0, 100%, 100%);
--Gray100 : hsl(270, 20%, 96%);
--Purple950 : hsl(271, 36%, 24%);
--Pink400 : hsl(289, 100%, 72%);

--phone-dock-height: 35px;
--phone-padding: 0.6rem;
--phone-border-radius:2rem;
--message-border-radius: 0.5rem;
--chat-header-padding-inline: 1rem;
--chat-main-padding-inline: 0.6rem;
--inbox-items-gap: 0.5rem;
}

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body,
    span,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    img {
        max-width: 100%;
    }    
}

@layer base {
    body{
        font-family: "Rubik", sans-serif;
        position:relative;
        min-height: 100dvh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    .background-right,
    .background-left {
        z-index:-1;
        position: absolute;
        height: 80%;
        width: 35vw;
    }

    .background-right {        
        background: var(--bg-gradient);
        top: 0;
        left: 0;
        border-radius: 0 0 20vw 20vw;
    }

    .background-left {
        background-color: var(--Gray100);
        bottom: 0;
        right: 0;
        transform: translateX(50%);
        border-radius: 20vw 20vw 0 0;
    }
    .text-container{
        width: 30vw;
    }
    .text-container .title {
        font-weight: 500;
        color: var(--Purple950);
        margin-bottom: 1rem;
    }
    .text-container .description {
        color: var(--Gray500);
        line-height: 1.8;
        font-size: 0.8rem;
    }
    .phone {
        --left-arrow-size: 4cqw;
        --right-arrow-size: 5cqw;
        --request-circle-width: 4cqw;     

        margin-left: 10vw;
        display: flex;
        border-radius: var(--phone-border-radius);
        background-color: var(--White);
        width: clamp(250px, 20vw, 300px);
        box-shadow: 0px 10px 60px -10px rgba(0,0,0,0.5);
        padding: var(--phone-padding);
        aspect-ratio: 9/19;
        position: relative;
        overflow: hidden;
    }
    .phone-dock {
        background-color: var(--White);
        width: 50%;
        height: var(--phone-dock-height);
        border-radius: var(--phone-border-radius);
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .phone-screen {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: calc(var(--phone-border-radius) - var(--phone-padding));
        margin: auto;
        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
        container-type: inline-size;
    }
    .chat-app {
        background-color: var(--Gray100);
    }
    .chat-header {
        padding-top: calc(var(--phone-dock-height) / 2);
        padding-inline: var(--chat-header-padding-inline);
        background: var(--bg-gradient);
        border-radius: 0 0 0.5rem 0.5rem;
        display: flex;
        align-items: center;
        color: var(--White);
        gap: 10px;
        font-size: 50%;
        height: 15%;
        font-size: 4cqw;
    }
    .avatar > img{
        width: 15cqw;
        border-radius: 50%;
        overflow: hidden;
        border: 1cqw solid var(--White);
    }
    .username{
        color: var(--Purple100);
    }
    .user-status{
        color:var(--Purple300);
    }
    .chat-header .user-definitions-icon {
        margin-left: auto;    
        font-size: calc(100% + 7px); 
    }

    .chat-main {   
        padding: var(--chat-main-padding-inline);
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 4cqw;
    }

    .message-inbox{
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap:var(--inbox-items-gap);
    }
    .message_received,
    .message_sent{
        background-color: var(--Purple100);
        color: var(--Purple600);
        max-width: 70%;
        border-radius: var(--message-border-radius);
        padding:0.5rem;
    }
    .message_received.gallery,
    .message_sent.gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: transparent;
        padding: 0;
    }
    .message_received.gallery img,
    .message_sent.gallery img{
        width: 30%;
        border-radius: var(--message-border-radius);
    }
    .message_sent {
        background-color: var(--White);
        align-self: flex-end;
        color: var(--Gray500);
    }
    .message_received.request,
    .message_sent.request{
        display: flex;
        gap: var(--inbox-items-gap);
        align-items: center;
        background: var(--bg-gradient);
        color: var(--White);
    }
    .message_received.request{
        border-bottom-left-radius: 0.2rem;
    }
    .message_sent.request{
        border-bottom-right-radius: 0.2rem;
    }
    .request h1{
        font-size: calc(100% + 5px);
        margin-left: auto;
    }
    .request button{
        all: unset;
        width: var(--request-circle-width);
        height: var(--request-circle-width);
        border-radius: 50%;
        border: 1px var(--Pink400) solid;
    }

    .input-container {
        display: flex;
        background-color: var(--White);
        padding: 0.5rem;
        border-radius: 1rem;
    }

    .input-container input {
        all: unset;
    }
    .input-container input::placeholder{
        color: var(--Gray300);
    }

    .input-container button {
        all:unset;
        margin-left: auto;
        background-color: var(--Purple950);
        padding: 0.5rem;
        border-radius: 50%;
    }

    @media (max-width: 700px){
        .background-left{
            display: none;
        }
        .background-right{
            width: 500px;        
            border-bottom-left-radius: 200px;
            border-bottom-right-radius: 200px;
            right: 50%;
            transform: translateX(-50%);
            top: -250px;
        }
        body {
            padding-block: 3rem;            
            flex-direction: column;
            justify-content: center;
            overflow-y: auto;
            gap: 4rem;
        }
        .phone {
            width: 60vw;
            margin-left: 0;
        }

        .text-container {
            width: 80vw;
            text-align: center;
        }     
        .text-container .title {
            font-size: 3rem;
        }   
        .text-container .description {
            font-size: 1rem;
        }
    }
}

@layer icons {
    .vertical-elipsis:after{
        content: '\2807';
        text-align: center;
    }
    .arrow-left {
        width: var(--left-arrow-size);
        height: var(--left-arrow-size);
        border-left: calc(var(--left-arrow-size) / 3) solid var(--White);
        border-bottom: calc(var(--left-arrow-size) / 3) solid var(--White);
        transform: rotate(45deg) translate(calc(var(--left-arrow-size) / 10), calc(-1 * var(--left-arrow-size) / 10));
    }
    .arrow-right {
        width: var(--right-arrow-size);
        height: var(--right-arrow-size);
        border-left: calc(var(--right-arrow-size) / 3.5) solid var(--White);
        border-bottom: calc(var(--right-arrow-size) / 3.5) solid var(--White);
        transform: rotate(-135deg) translate(calc(var(--right-arrow-size) / 10), calc(-1 * var(--right-arrow-size) / 10));
    }
}
