:root {
    --Gray950: hsl(0, 0%, 17%);
    --Gray400: hsl(0, 0%, 58%);
    --Gray400_opacity: hsla(0, 0%, 58%, 0.6);
    --white: white;

    --border-radius: 0.5rem;
    --input-group-padding: 0.8rem;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@layer reset{
    *, 
    *::before,
    *::after {
        box-sizing: border-box;
    }
        
    span,
    body,
    p,
    h1,
    h2,
    h3,
    h4,
    h6 {
        margin: 0;
    }
    
    img {
        max-width: 100%;
    }
}

@layer base {
    body {
        position: relative;
        font-family: "Rubik", sans-serif;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        height: 100dvh;
    }
    header {
        color: var(--white);
        background: no-repeat url('images/pattern-bg-desktop.png');
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        z-index: 200;
        min-height: 30vh;
    }

    header > div > .title {
        text-align: center;
        margin-bottom: 1rem;
    }
    main{
        flex: 1;
        z-index: 100;
    }
    .map{
        min-height: 100%;
    }
    .location-details-container {
        background-color: var(--white);
        color: var(--Gray950);
        padding: 1rem;
        border-radius: var(--border-radius);
        width: clamp(600px, 80%, 1400px);
        min-height: 130px;
        display: flex;
        margin-top: 1rem;
        margin-bottom: -4rem;    
        box-shadow: 0px 10px 35px -10px rgba(0,0,0,0.75);    
    }
    .location-details-container .location-detail:not(:first-child){
        position: relative;
    }
    .location-details-container .location-detail:not(:first-child)::before {
        content: '';
        position: absolute;
        left: 0;
        top: 25%;
        height: 50%;
        border-left: 1px solid var(--Gray400);
    }
    .location-detail > h3{
        font-size: clamp(1rem, 5vw, 1.5rem);
    }
    .location-detail {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-block: 0.5rem;
        padding-inline: 1rem;
        gap: 0.8rem;
    }
    .location-detail .title{
        color:var(--Gray400);
        text-transform: uppercase;
        font-size: 0.7rem;
    }
    header > div {
        min-width: 40%;
    }
    .input-group{
        display: flex;
        background-color: var(--white);
        border-radius: var(--border-radius);
        overflow: hidden;
        width: 100%;
    }
    .input-group button[type="submit"]{
        all:unset;
        background-color: var(--Gray950);
        padding: var(--input-group-padding);
        cursor: pointer;
    }
    .input-group button[type="submit"]:hover{        
        background-color: var(--Gray400);
    }
    #search-input,
    #api-key-input{
        all:unset;
        color: var(--Gray950);
        padding: var(--input-group-padding);
        background-color: var(--white);
        flex: 1;
    }
    #api-key-input{
        background-color: aliceblue;
        color: var(--Gray950);
    }
    .modal-overlay {
        display: flex;
        position: fixed;
        background-color: var(--Gray400_opacity);
        z-index: 400;
        height: 100%;
        width: 100%;
    }

    .modal{
        background-color: var(--white);
        border-radius: var(--border-radius);
        height: 300px;
        width: 500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .modal-content {
        display: flex;
        flex-direction: column;
    }
    .modal-content .input-group{
        margin-top: .5rem;
    }
    .modal-content p {
        margin-top: 2rem;
    }
    .open-modal-btn{
        cursor: pointer;
        position: fixed;
        background-color: var(--white);
        color: var(--Gray950);
        border-radius: var(--border-radius);
        padding: 0.5rem;
        top: 20px;
        right: 20px;
        z-index: 500;
        box-shadow: 0px 10px 35px 2px rgba(0,0,0,0.75);    
    }


    @media (max-width: 650px){
        header {
            background: no-repeat url('images/pattern-bg-mobile.png');
            background-size: cover;
        }
        header > div {
            min-width: 90%;
        }
        .location-details-container{
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            min-height: auto;
            text-align: center;
        }
        .location-details-container .location-detail:not(:first-child)::before {
            border-left: none;
        }
        .location-detail{
            gap: 0.2rem;
        }
    }
}

@layer utilities {
    .hidden {
        display: none;
    }
}